<div class="hidden lg:block lg:w-screen ">
  <div class="fixed top-0 left-0 ml-20 lg:ml-24">
    <ul class="flex flex-col items-center justify-center">
      <li class="mb-4"><div class="w-px h-64 bg-black"></div></li>
      <li class="mb-4"> <a href="https://www.instagram.com/thatdudestrobel/" target="_blank"><%= image_tag "icons/instagram.svg" %></a> </li>
      <li class="mb-4"> <a href="https://www.linkedin.com/in/alecstrobel/" target="_blank"><%= image_tag "icons/linkedin.svg" %></a> </li>
      <li class="mb-4"> <a href="https://github.com/alecstrobel" target="_blank"><%= image_tag "icons/github.svg" %></a> </li>
    </ul>
  </div>

  <div class="fixed bottom-0 right-0">
    <ul class="flex flex-col items-center justify-center">
      <li class="rotate-90 py-28">contact@alecstrobel.tech</li>
      <li><div class="w-px h-64 bg-black"></div></li>
    </ul>
  </div>
</div>
