<div class="mx-6 container relative md:pt-14">

  <div class="w-full lg:flex md:gap-4 lg:mt-10">
    <div class="order-2 flex flex-col w-full mb-24 lg:w-2/4 lg:flex-row justify-center items-center lg:mt-4">
      <%= image_tag 'portrait-2', class: "rounded-full w-[300px] h-[300px] md:w-[400px] md:h-[400px]" %>
    </div>
    <div class="order-1 lg:w-2/4 lg:pl-3">
      <h1 class="font-bold mb-5">Hi 👋 I'm Alec</h1>
      <h4 class="leading-7">I’m a problem solver at heart. Always have been. I’ve always been fascinated by technology and the endless possibilities it offers. The dream of creating innovative tech products that solve real-world problems is what drives me every day. I currently specialise in product design and software development, but my passion extends to the entire process of building digital products. My goal is now to continue further down the software development path. I am constantly seeking opportunities to enhance my skills and knowledge in this field and to bring my creative vision to life through the products I develop.</h4>
    </div>
  </div>

</div>
