<div class="mx-6 container relative md:pt-14">

  <div class="w-full lg:flex md:gap-4 lg:mt-10">
    <div class="order-2 flex flex-col w-full mb-24 lg:w-2/4 lg:flex-row justify-center items-center lg:mt-4">
      <%= image_tag 'portrait-2', class: "rounded-full w-[300px] h-[300px] md:w-[400px] md:h-[400px]" %>
    </div>
    <div class="order-1 lg:w-2/4 lg:pl-3">
      <h1 class="font-bold mb-5">Hi 👋 I'm Alec</h1>
      <h4 class="leading-7">I’m a designer at heart. Always have been. I’ve always seen the world around me as endless possibilities. Endless things to create and problems to solve. Since the products we use day to day shape our lives, I’m convinced product design is my means to making a difference in the world.

I’m from the United States, but have lived most of my life in Europe, which has had a profound impact on my life and character. I started down the path of product design while studying Design Management at the University of the Arts London.

I currently specialise in user experience design, but I’m in love with the entire design process of digital products and I‘m looking to grow further in that direction.</h4>
    </div>
  </div>

</div>
