// CSS component partials
@import "components/navbar";
@import "components/links";

// CSS pages
@import "pages/home";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;1,300&family=Roboto+Mono:wght@500&display=swap");

.container {
  margin: 0 auto;
  width: 70vw;
}

@media (max-width: 1020px) {
  .container {
    width: 80vw;
  }
}

@media (max-width: 800px) {
  .container {
    width: 80vw;
  }
}

@media (max-width: 600px) {
  .container {
    width: 85vw;
  }
}

h1 {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-size: 2.7em;
}

h2,
a {
  font-family: "Roboto Mono", monospace;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #1a1717;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 2.5rem;
}

p {
  font-size: 1.2rem;
  font-weight: 500;
}
